/* Ogólne style */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fef6f6; /* Jaśniejszy, ciepły odcień tła */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Nagłówek strony */
#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff4f58; /* Ciepły, czerwony odcień */
    color: white;
}

/* Logo w nagłówku */
#logo img {
    width: 40px;
    height: auto;
}

/* Nazwa projektu, wyśrodkowana w nagłówku */
#project-name {
    color: black;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8em;
}

/* Formularz logowania */
#login-container {
    background-color: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Bardziej wyrazisty cień */
    width: 100%;
    max-width: 420px;
    text-align: center;
}

/* Tytuł formularza */
#login-container h2 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #333;
}

/* Pola formularza */
.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 18px; /* Zmniejszone zaokrąglenie, by wyglądało bardziej elegancko */
    background-color: #f8f8f8;
    box-sizing: border-box;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.form-group input:focus {
    outline: none;
    border-color: #ff4f58; /* Kolor czerwony, bardziej intensywny */
    background-color: #fff;
}

/* Przycisk logowania */
button {
    width: 100%;
    padding: 16px;
    background-color: #ff4f58; /* Czerwony przycisk */
    color: white;
    border: none;
    border-radius: 18px; /* Zaokrąglone rogi */
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e04750; /* Ciemniejszy czerwony po najechaniu */
}

/* Link do rejestracji */
#register-link {
    margin-top: 15px;
}

#register-link p {
    font-size: 14px;
    color: #333;
}

#register-link a {
    color: #ff4f58; /* Czerwony odcień */
    text-decoration: none;
    font-weight: bold;
}

#register-link a:hover {
    text-decoration: underline;
}

/* Stopka */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
